### format_for_list

In [4]:
s = '{}이는 {}와 {}를 좋아한다.'
f = s.format('대건', '윤기', '찬빈')
print(f)

대건이는 윤기와 찬빈를 좋아한다.

In [21]:
name = '석찬'
num = 30103
add = '인천시 연수구'

s = '{}이는 {}번이고 {}에 살고있다.'
f = s.format(name, num, add)
print(f)

석찬이는 30103번이고 인천시 연수구에 살고있다.

In [10]:
s = '{}이는 {}와 {}를 좋아한다.'
f = s.format('대건', '윤기', '찬빈')
print(f)

대건이는 윤기와 찬빈를 좋아한다.

In [23]:
stu = input('이름 학번 주소>>> ').split()

이름 학번 주소>>> 대범 30305 인천시연수구

In [16]:
stu

['대범', '30305', '인천시연수구']

In [22]:
s = '{}이는 {}번이고 {}에 살고있다.'
f = s.format(stu[0], stu[1], stu[2])
print(f)

대범이는 30305번이고 인천시연수구에 살고있다.

### [문제1] 다음과 같은 양식으로 입력받아 출력하기
- 햄버거/2개/4달라 입력하면
- 햄버거 2개 값은 8달라입니다.

In [39]:
food = input('주문 갯수 가격>>> ').split()

주문 갯수 가격>>> 햄버거 2 4

In [41]:
food

['햄버거', '2', '4']

In [48]:
s = '[][]개값은 []달라입니다.'
f = s.format(food[0], food[1], food[2])
print(f)

[][]개값은 []달라입니다.

In [54]:
info = '%d년도 %s여고 %0.1f퍼센트'
pr = info%(20, '인천', 0.5)
print(pr)

20년도 인천여고 0.5퍼센트

### [문제2]햄버거 2개는 8달라이다.
- 햄버거
- 2
- 2 * 4

In [58]:
info = '%s %d개는 %d달라이다.'
fd = info%('햄버거',2 , 2 * 4)
print(fd)

햄버거 2개는 8달라이다.

### List

In [64]:
arr = ['성곤', '대건', '대범','호정']
arr

['성곤', '대건', '대범', '호정']

In [66]:
len(arr)

4

In [69]:
for i in range(5,0, -1) :
    print(i)
[range(1,6)]

5
4
3
2
1

[range(1, 6)]

In [71]:
for i in arr :
    print(i)

성곤
대건
대범
호정

In [76]:
for i in range(len(arr)) :
    print(arr[i])

성곤
대건
대범
호정

In [83]:
for i, val in range enumerate(arr) :
    print(i, val)

SyntaxError: invalid syntax (<ipython-input-83-81fced72c6f0>, line 1)

### [문제1] 30부터 50까지 출력해보기

In [87]:
for i in range(30, 51) :
    print(i)

30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

### [문제2] 30부터 50까지 중에서 홀수만 출력해보기

In [86]:
for i in range(1, 51):
    if i%2!=0 :
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

### [문제3] 30부터 50까지 중에서 홀수만 더해서 sum에 넣고 출력

In [104]:
sum = 0
for i in range(30, 51) :
    if i%2 != 1 :
        sum = sum + i
print(sum)

440

### [문제4] 1부터 10까지 중에서 짝수이면 파이썬 홀수이면 야 너도 할수 있어 출력

In [99]:
for i in range(1, 11):
    if i%2!=1 :
        print(i,'파이썬')
    if i%2!=0 :
        print(i, "야 너도 할수 있어")

1 야 너도 할수 있어
2 파이썬
3 야 너도 할수 있어
4 파이썬
5 야 너도 할수 있어
6 파이썬
7 야 너도 할수 있어
8 파이썬
9 야 너도 할수 있어
10 파이썬